<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
  <Product
      Id="*"
      Name="Persimmon.VisualStudio.TestExplorer"
      Language="1033"
      Version="0.9.4"
      Manufacturer="persimmon-projects"
      UpgradeCode="bd297a94-3654-4aa2-9694-e872ac9f1618">

    <Package
        Id="*"
        InstallerVersion="200"
        Compressed="yes"
        InstallScope="perMachine"
        Description="Persimmon 2.0 drive on the Visual Studio test explorer."
        Comments="Persimmon 2.0 drive on the Visual Studio 2013/2015 test explorer."
        Keywords="persimmon, FSharp, Unit Testing, Testing, Test explorer, Test adapter"
        Manufacturer="persimmon-projects" />

    <PropertyRef Id="VS2013DEVENV"/>
    <PropertyRef Id="VS2015DEVENV"/>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\background.bmp" />

    <Property Id="ARPHELPLINK" Value="http://persimmon-projects.github.io/Persimmon/" />
    <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
    <Icon Id="Icon.exe" SourceFile="$(var.SolutionDir)/persimmon.ico"/>
    
    <UIRef Id="WixUI_Minimal" />

    <Condition Message="Microsoft Visual Studio 2013 and/or 2015 is not installed. It is mandatory in order to install this product.">
      <![CDATA[VS2013DEVENV OR VS2015DEVENV]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature
        Id="ProductFeature"
        Title="Persimmon.VisualStudio.TestExplorer"
        Level="1">
      <ComponentRef Id="C.Persimmon.VisualStudio.TestRunner" />
      <ComponentRef Id="C.Persimmon.VisualStudio.TestExplorer" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PersimmonFolder" Name="Persimmon">
          <Directory Id="INSTALLFOLDER" Name="VisualStudio.TestExplorer" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Component
        Id="C.Persimmon.VisualStudio.TestRunner"
        Guid="650419E2-A2B2-45DE-8919-7D2D2D146DDA"
        Directory="INSTALLFOLDER">
    <File
        Id="F.Persimmon.VisualStudio.TestRunner.dll"
        Name="Persimmon.VisualStudio.TestRunner.dll"
        Source="$(var.SolutionDir)\Persimmon.VisualStudio.TestRunner\bin\$(var.Persimmon.VisualStudio.TestRunner.Configuration)\Persimmon.VisualStudio.TestRunner.dll"
        KeyPath="yes"
        Assembly=".net"/>
    </Component>
    <Component
        Id="C.Persimmon.VisualStudio.TestExplorer"
        Guid="DA36B40E-CF11-4314-B34F-9FA42B043096"
        Directory="INSTALLFOLDER">
    <File
        Id="F.Persimmon.VisualStudio.TestExplorer.vsix"
        Name="Persimmon.VisualStudio.TestExplorer.vsix"
        Source="$(var.SolutionDir)\Persimmon.VisualStudio.TestExplorer\bin\$(var.Persimmon.VisualStudio.TestExplorer.Configuration)\Persimmon.VisualStudio.TestExplorer.vsix"
        KeyPath="yes" />
    <VSExtension:VsixPackage
        File="F.Persimmon.VisualStudio.TestExplorer.vsix"
        PackageId="c35f7015-465a-456a-801e-210ab907210d"
        Vital="yes"
        Permanent="no"/>
    </Component>
  </Fragment>
</Wix>
